.Carousel
  display: flex
  align-items: center

  &__viewport
    flex: 1 1 0
    overflow: hidden
    position: relative
    margin: 0 15px
    padding: 60px 0
    display: flex

    &__content
      flex: 1 1 0
      display: flex
      transition: transform .1s ease-in

      & > *
        flex: 0 0 auto

      & > *:not(:last-child)
        margin-right: 40px

    &__border--left,
    &__border--right
      position: absolute
      height: 100%
      width: 130px
      background-color: red
      flex: 0 0 auto
      z-index: 4
      top: 0

    &__border--left
      left: 0
      background: rgb(255,255,255)
      background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%)

    &__border--right
      right: 0
      background: rgb(255,255,255)
      background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%)

  &__button--left,
  &__button--right
    background: transparent
    border: none
    cursor: pointer

    svg
      color: #E5DF48
      height: 35px

  &__button--left
    svg
      transform: rotate(180deg)
