.Carousel
  display: flex
  align-items: center
  position: relative
  margin-bottom: 30px

  &__viewport
    flex: 1 1 0
    overflow: hidden
    position: relative
    padding: 30px 20px
    display: flex

    &__content
      flex: 1 1 0
      display: flex
      transition: transform .5s ease-out

      & > *
        flex: 0 0 auto

      & > *:not(:last-child)
        margin-right: 40px

  &__button--left,
  &__button--right
    background: transparent
    border: none
    cursor: pointer
    height: 50px
    background: white
    border-radius: 50%
    width: 50px
    display: flex
    justify-content: center
    align-items: center
    flex: 0 0 auto
    position: absolute
    z-index: 4
    top: 50%
    padding: 0
    transform: translateY(-50%)
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px

    &:hover svg
      color: #E5DF48

    svg
      color: #C7C7C7
      transition: color .2s ease-in
      height: 19px

  &__button--left
    left: -25px

  &__button--right
    right: -25px
    svg
      transform: rotate(180deg)
