.MovieCard
  display: flex
  flex-direction: column
  font-family: Roboto
  font-weight: 400
  border: 2px solid red

  &__thumbnail-container
    display: flex
    justify-content: center
    align-items: center

    border-radius: 25px

    height: 350px
    width: 250px
    overflow: hidden
    img
      width: 120%
