.MovieCard
  display: flex
  flex-direction: column
  font-family: Roboto
  font-weight: 400
  cursor: pointer

  &__info
    display: flex
    flex-direction: column
    font-family: Roboto
    padding-left: 10px
    transition: transform .1s ease-in-out

    &__title
      font-weight: 600
      font-size: 18px
      margin-bottom: 5px

    &__date
      font-weight: 300
      font-size: 14px
