@use '../../styles/global/variables'

.Wishlist

  header
    border-bottom: 30px solid variables.$wildSand
    flex: 0 0 auto
    margin-bottom: 40px

    .wishlist-title-container
      position: relative

      h1
        position: absolute
        top: -37px
        left: 0

        color: variables.$doveGray
        font-family: Rubik
        font-size: 24px
        font-weight: 400
        padding: 15px 30px
        border-radius: 13px

        background: variables.$wildSand
        svg
          height: 19px
          margin-right: 8px

  .movies-container
    flex: 1 0 auto

    .grid
      display: grid
      grid-template-columns: repeat(auto-fit, 300px)
      grid-auto-rows: minmax(150px, 1fr)

      padding-bottom: 20px

      &--empty
        padding-top: 80px
        width: 100%

        color: variables.$doveGray
        font-family: Rubik
        font-size: 20px
        font-weight: 400
        text-align: center

      .MovieCardLink
        display: flex
        justify-content: center
        padding: 20px 10px
