.Wishlist
  display: flex
  flex-direction: column

  header
    border-bottom: 30px solid #F6F6F6
    flex: 0 0 auto
    margin-bottom: 80px

    .backdrop-img
      background-color: black
      background-size: cover
      height: 400px
      opacity: 0.7

    .wishlist-title-container
      position: relative

      h1
        position: absolute
        top: -37px
        left: 0

        color: #646464
        font-family: Rubik
        font-size: 24px
        font-weight: 400
        padding: 15px 30px
        border-radius: 13px

        background: #F6F6F6
        svg
          height: 19px
          margin-right: 8px

  .movies-container
    flex: 1 0 auto

    .grid
      display: grid
      grid-template-columns: repeat(auto-fit, 300px)
      grid-auto-rows: minmax(150px, 1fr)

      padding: 40px 0

      &--empty
        display: flex
        justify-content: center
        align-items: center
        padding: 0 200px
        font-family: Rubik
        font-size: 20px
        font-weight: 400
        color: #646464
        width: 100%

      .MovieCardLink
        display: flex
        justify-content: center
        padding: 20px 10px
