.NavBar
  height: 60px
  align-items: center
  background: #E5DF48

  &__container
    display: flex
    justify-content: space-between
    height: 100%
    align-items: center
    padding: 0 30px

  &__logo svg
    height: 30px

  &__link
    display: flex
    align-items: center
    font-family: Roboto
    font-size: 18px
    font-weight: 400
    text-decoration: none
    color: #000000

    svg
      height: 30px
      margin-right: 5px
