@use '../../../styles/global/variables'

.HomeHeader
  margin-bottom: 40px
  position: relative

  .featured-movie-container
    h1
      background: white
      position: absolute
      top: 94%
      font-size: 15px
      font-weight: 300
      line-height: 17px
      padding: 5px 10px
      border-radius: 13px
      left: 50%
      transform: translateX(-50%)
      white-space: nowrap
      color: variables.$doveGray

    a
      position: absolute
      display: flex
      top: 38px
      margin-left: 25px
      .MovieThumbnail
        margin: 0
