@use '../../styles/global/variables'

.CategoryTitle
  display: flex
  align-items: center
  color: variables.$doveGray

  font-size: 18px
  font-weight: 500

  border-bottom: 1px solid variables.$wildSand
  padding: 0 0 15px 10px

  svg
    height: 18px
    margin-right: 10px
