@use '../../styles/main'
@use '../../styles/global/fonts/roboto.sass'

.PageLayout
  display: flex
  flex-direction: column

  font-family: Roboto
  min-height: 100vh

  .pageBody
    display: flex
    flex-direction: column
    flex: 1 1 0

    & > div
      flex: 1 1 0
